[tool.poetry]
name = "virl2_client"
version = "2.6.1"
description = "VIRL2 Client Library"
authors = ["Simon Knight <simknigh@cisco.com>", "Ralph Schmieder <rschmied@cisco.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/ciscodevnet/virl2-client"
repository = "https://github.com/ciscodevnet/virl2-client"
include = ["examples/*"]
exclude = ["tests/**/*"]

classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.8",
    "Topic :: System :: Networking",
]

[tool.poetry.dependencies]
python = "^3.8.1"
httpx = "^0.24.0"
# SIMPLE-5904
urllib3 = "^1"

# optional package for events
aiohttp = {version = "*", optional = true}

# optional pyATS package
# (this pulls in a lot more dependencies)
# it does not pull in genie, need to specify extras=["full"] for pyATS.
# pyats = {extras=["full"], version = "^23", optional = true}
pyats = {version = "^23", optional = true}

# needed to build documentation, technically, this is a dev-dependency
# https://github.com/python-poetry/poetry/pull/606 -- no support
sphinx_rtd_theme = {version="^1", optional = true}
sphinx =  {version="^6", optional = true}

[tool.poetry.dev-dependencies]
flake8 = "^6"
pre-commit = "^3"
pytest = "*"
respx = "^0.20.0"

[tool.poetry.extras]
events = ["aiohttp"]
pyats = ["pyats"]
docs = ["sphinx", "sphinx_rtd_theme"]

[build-system]
requires = ["poetry>=1.1.8"]
build-backend = "poetry.core.masonry.api"
