aiofiles==0.8.0; python_version >= "3.6" and python_version < "4.0"
aiohttp-swagger==1.0.16; python_version >= "3.5"
aiohttp==3.8.1; python_version >= "3.6"
aiosignal==1.2.0; python_version >= "3.6"
async-lru==1.0.2; python_version >= "3.5"
async-timeout==4.0.2; python_version >= "3.6"
asynctest==0.13.0; python_version < "3.8" and python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
bcrypt==3.2.2; python_version >= "3.6"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "3.6"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.7"
chardet==4.0.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
cisco-gnmi==1.0.15; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.5"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows"
cryptography==36.0.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
dill==0.3.4; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.1.0"
distlib==0.3.4; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
distro==1.7.0; python_version >= "3.6"
filelock==3.6.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flake8==4.0.1; python_version >= "3.6"
frozenlist==1.3.0; python_version >= "3.7"
genie.libs.clean==22.4; python_version >= "3.5"
genie.libs.conf==22.4; python_version >= "3.5"
genie.libs.filetransferutils==22.4; python_version >= "3.5"
genie.libs.health==22.4; python_version >= "3.5"
genie.libs.ops==22.4; python_version >= "3.5"
genie.libs.parser==22.4; python_version >= "3.5"
genie.libs.sdk==22.4; python_version >= "3.5"
genie==22.4; python_version >= "3.5"
gitdb==4.0.9; python_version >= "3.6"
gitpython==3.1.18; python_version >= "3.6"
grpcio==1.46.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
identify==2.5.0; python_version >= "3.7"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
importlib-metadata==4.2.0; python_version < "3.8" and python_version >= "3.7" and (python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "3.8")
iniconfig==1.1.1; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
jsonpickle==2.1.0; python_version >= "3.5"
junit-xml==1.9; python_version >= "3.5"
lxml==4.8.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.5.0"
markupsafe==2.1.1; python_version >= "3.7"
mccabe==0.6.1; python_version >= "3.6"
multidict==6.0.2; python_version >= "3.7"
ncclient==0.6.9; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.5.0"
netaddr==0.8.0; python_version >= "3.5"
nodeenv==1.6.0; python_version >= "3.7"
packaging==21.3; python_version >= "3.7"
paramiko==2.10.4; python_version >= "3.5" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.5.0")
pathspec==0.9.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
pre-commit==2.18.1; python_version >= "3.7"
prettytable==3.2.0; python_version >= "3.7"
protobuf==3.20.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.7"
psutil==5.9.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyats.aereport==22.4; python_version >= "3.5"
pyats.aetest==22.4; python_version >= "3.5"
pyats.async==22.4; python_version >= "3.5"
pyats.connections==22.4; python_version >= "3.5"
pyats.datastructures==22.4; python_version >= "3.5"
pyats.easypy==22.4; python_version >= "3.5"
pyats.kleenex==22.4; python_version >= "3.5"
pyats.log==22.4; python_version >= "3.5"
pyats.reporter==22.4; python_version >= "3.5"
pyats.results==22.4; python_version >= "3.5"
pyats.tcl==22.4; python_version >= "3.5"
pyats.topology==22.4; python_version >= "3.5"
pyats.utils==22.4; python_version >= "3.5"
pyats==22.4; python_version >= "3.5"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyftpdlib==1.5.6; python_version >= "3.5"
pynacl==1.5.0; python_version >= "3.6"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.6"
pytest==7.1.2; python_version >= "3.7"
python-engineio==3.14.2; python_version >= "3.5"
python-socketio==4.6.1; python_version >= "3.5"
pyyaml==6.0; python_version >= "3.7"
requests-mock==1.9.3
requests-toolbelt==0.9.1
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
responses==0.20.0; python_version >= "3.7"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.5"
ruamel.yaml==0.17.21; python_version >= "3.5"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4"
smmap==5.0.0; python_version >= "3.6"
tftpy==0.8.0; python_version >= "3.5"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
tqdm==4.64.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.4.0"
typing-extensions==4.2.0; python_version < "3.8" and python_version >= "3.7"
unicon.plugins==22.4; python_version >= "3.5"
unicon==22.4; python_version >= "3.5"
urllib3==1.26.9; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
virtualenv==20.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
wcwidth==0.2.5; python_version >= "3.7"
xmltodict==0.12.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.4.0"
yamllint==1.26.3; python_version >= "3.5"
yang.connector==22.4; python_version >= "3.5"
yarl==1.7.2; python_version >= "3.6"
zipp==3.8.0; python_version < "3.8" and python_version >= "3.7"
